#detail_list{
	width:100%;
	.detail_top{
		float: left;
		line-height:34px;
		background:#f2f2f2;
		width:30%;
		padding:0 35%;
		li{
			float: left;
			font-size:12px;
		}
	}
	.clou{
			float: left;
			width:100%;
			text-align:center;
			color:#000;
			font-size:38px;
			line-height:82px;
			display:none;
	}
}
#detail_content{
	width:80%;
	margin-left:10%;
	float: left;
	margin-top:48px;
	.detail_big{
		width:40%;
		height:474px;
		float: left;
		.swiper-container {
			width: 100%;
			height: 376px;
			img{
				display:block;
				margin:0 auto;
				width:50%;
				height:80%;
			}
		} 
		.detail_small{
			width:100%;
			height:58px;

			.detail_img{
				width:208px;
				height:56px;
				margin:0 auto;
			}
			img{
				border:1px solid #cccccc;
				width:38px;
				height:37px;
				margin:9px 6px;
				float: left;
			}
		}
	}
	.detail_right{
		width:50%;
		float: right;
		h4{
			text-align:center;
			line-height:26px;
			color:#000;
			margin-top:8px;
			font-size:14px;
		}
		.right_list{
			.rule{
				text-align:center;
				line-height:22px;
				color:#6a7a7a;
				font-size:12px;
			}
			.model{
				text-align:center;
				line-height:38px;
				color:#a30101;
				font-size:12px;
			}
			.p{
				text-align:center;
				line-height:30px;
				color:#000;
				font-size:16px;
			}
			.shopping{
				width:60%;
				margin:0 auto;
				text-align:center;
				line-height:32px;
				color:#fff;
				font-size:12px;
				background:#a30101;
			}
			.call{
				text-align:center;
				line-height:22px;
				color:#000;
				font-size:12px;
				margin-top:4px;
			}
			.num{
				text-align:center;
				line-height:16px;
				color:#a30101;
				font-size:8px;
			}
			.connect{
				width:60%;
				margin:0 auto;
				text-align:center;
				line-height:32px;
				color:#555;
				font-size:12px;
				background:#f8f8f8;
				margin-top:4px;
			}
			.order{
				width:60%;
				margin:0 auto;
				text-align:center;
				line-height:32px;
				color:#555;
				font-size:12px;
				background:#f8f8f8;
				margin-top:10px;
			}
			img{
				display:block;
				margin:10px auto;
			}
		}
	}
}
#detail_right_hover{
	margin-top:50px;
	display:none;
	width:100%;
	float: left;
	h4{
		text-align:center;
		line-height:34px;
		color:#000;
		margin-top:8px;
		font-size:20px;
	}
		.H_right_list{
			.H_rule{
				text-align:center;
				line-height:34px;
				color:#6a7a7a;
				font-size:14px;
			}
			.H_model{
				text-align:center;
				line-height:34px;
				color:#a30101;
				font-size:12px;
			}
			.H_p{
				text-align:center;
				line-height:50px;
				color:#000;
				font-size:24px;
			}
			.H_shopping{
				width:50%;
				margin:0 auto;
				text-align:center;
				line-height:56px;
				color:#fff;
				font-size:18px;
				background:#a30101;
			}
			.H_call{
				text-align:center;
				line-height:34px;
				color:#000;
				font-size:18px;
				margin-top:4px;
			}
			.H_num{
				text-align:center;
				line-height:18px;
				color:#a30101;
				font-size:8px;
			}
			.H_connect{
				width:48%;
				float: left;
				margin-right:4%;
				text-align:center;
				line-height:56px;
				color:#555;
				font-size:12px;
				background:#f8f8f8;
				margin-top:10px;
			}
			.H_order{
				width:48%;
				float: left;
				text-align:center;
				line-height:56px;
				color:#555;
				font-size:12px;
				background:#f8f8f8;
				margin-top:10px;
			}
		}
	}
#detail_detail{
	width:100%;
	float: left;
	background:#f8f8f8;

	.deteil_s{
		width:30%;
		padding:48px 10%;
		.top{
			width:100%;
			float: left;
			.s_top{
				width:100%;
				border-top:1px solid #000;

				p{
					color:#000;
					font-size:14px;
					line-height:40px;
					float: left;
				}
				.yop_img{
					position:relative;
						img{
							position:absolute;
							right:10px;
							top:15px;
						}
				}
			
			}
			span{
				width:100%;
				float: left;
				color:#000;
				font-size:12px;
				line-height:18px;
			}
		}
		.bottom{
			width:100%;
			float: left;
			padding-bottom:38px;
			.s_bottom{
				width:100%;
				border-top:1px solid #000;

				p{
					color:#000;
					font-size:14px;
					line-height:40px;
					float: left;
				}
				.bottom_img{
					position:relative;
						img{
							position:absolute;
							right:10px;
							top:15px;
						}
				}
			
			}
			span{
				width:100%;
				float: left;
				color:#000;
				font-size:12px;
				line-height:18px;
				border-bottom:1px solid #000;
				padding:10px 0;
			}
		}
	}
}
#detail_product{
	float: left;
	width:100%;
	.product_li{
		width:20%;
		height:60px;
		margin:0 auto;
		li{
			float: left;
			font-size:14px;	
		}
		.like{
			margin-top:16px;
			width:108px;
			line-height:28px;
			border:1px solid #000;
			text-align:center;

		}
		.advice{
			line-height:60px;
			margin-left:10%;
			padding-left:10%;
			background:url(../../images/fd.jpg) left center no-repeat;
		}
	}
}
#detail_a{
	width:100%;
	float: left;
	.swiper-container{
		width:30%;
		margin:0 auto;
		.kind_ul{
			width:100%;
			height:350px;
			float: left;
			margin-top:70px;
			img{
				display:block;
				width:124px;
				height:156px;
				margin:0 auto;
			}
			.kind_ul_pic{
				width:100%;
				height:42px;
				background:url(../../images/xx.jpg) 76% 20px no-repeat;
			}
			span{
				color:#555;
				font-size:14px;
				line-height:20px;
				text-align:center;
				display:block;
			}
			i{
				color:#555;
				font-size:10px;
				line-height:16px;
				text-align:center;
				display:block;
				font-style:normal;
			}
			p{
				color:#000;
				font-size:12px;
				line-height:40px;
				text-align:center;
				margin-top:42px;
			}
			.shop_kind{
				margin:0 auto;
				width:156px;
				line-height:30px;
				background:#a30101;
				text-align:center;
				font-size:12px;
				color:#fff;
			}
		}
	}
}

#deteil_f{
	float: left;
	width:100%;
	li{
		height:100px;
		width:100%;
		
		p{
			width:90%;
			text-align:center;
			line-height:100px;
		}
		img{

			float:right;
			margin-top:-50px;
			margin-right:4%;
		}
	}
	span{
		display:block;
		width:90%;
		margin:0 auto;
		text-align:center;
		font-size:12px;
	border-bottom:1px solid #000;
	padding-bottom:10px;
	}
}

@media only screen and (max-width: 970px) {
	
}



@media only screen and (max-width: 749px) {

	header{
		#header_right{
			.header_right_02{
				display: block;
			}
			.header_right_01{
				display: none;
			}
		}
		#header_left{
			display: none;
		}
		#header_img{
			img{
				display: block;
			}
		}
	}
	#index_nav{
		.index_nav_list{
			display:none;
		}
		.index_nav_hover{
			display:none;
		}
	}
	footer{
		#index_bottom_footer{
			display:block;
			width:30%;
			margin:0 auto;
		}
		#index_bottom{
			display:none;
		}
	}
	#footer_list_hover{
			display:block;
		}
	#footer_list{
		display:none;
	}
	#detail_right_hover{
		display:block;
	}
	#detail_content{
		width:100%;
		.detail_big{
			background:#fff;
			width:100%;
			.swiper-container{
				width:100%;
				margin-left:-10%;
			}
			.detail_small{
				margin-left:-10%;
			}
		}
		.detail_right{
				display:none;
			}
	}
	#detail_list{
		display:none;
	}
	#detail_product{
		display:none;
	}
	#detail_detail{
		display:none;
	}
}