#index_content{
	width:100%;
	img{
		float: left;
		width:84%;
		margin-left:8%;
	}
}
@media only screen and (max-width: 749px) {

	header{
		#header_right{
			.header_right_02{
				display: block;
			}
			.header_right_01{
				display: none;
			}
		}
		#header_left{
			display: none;
		}
		#header_img{
			img{
				display: block;
			}
		}
	}
	#index_nav{
		.index_nav_list{
			display:none;
		}
		.index_nav_hover{
			display:none;
		}
	}
	footer{
		#index_bottom_footer{
			display:block;
			width:30%;
			margin:0 auto;
		}
		#index_bottom{
			display:none;
		}
	}
	#footer_list_hover{
			display:block;
		}
	#footer_list{
		display:none;
	}
}




