#login_content{
	width:100%;
	.login_top{
		float: left;
		width:100%;
		line-height:40px;
		background:#f2f2f2;
		.content_top{
			width:62%;
			padding-left:38%;
			li{
				float: left;
				padding-left: 16px;
				color:#555555;
				font-size:12px;
				span{
					margin-left:16px;
				}
			}
		}
		.content_top_01{
			display:none;
			line-height:40px;
			width:100%;
			li{
				background:#f2f2f2;
				text-align:center;
				padding-left: 16px;
				color:#555555;
				font-size:12px;
			}
		}
	}

	h2{
		float:left;
		width:100%;
		line-height:116px;
		text-align:center;
		margin-top:22px;
	}
	.login_kuang{
		float:left;
		width:90%;
		margin-left:5%;
		border:1px solid #000;
		.login_left{
			width:40%;
			float:left;
			padding:0 5%;

			h6{
				text-align:center;
				line-height:28px;
				color:#a0a0a0;
				font-size:14px;
			}
			p{
					text-align:center;
					line-height:26px;
					color:#a0a0a0;
					font-size:12px;
					border-bottom:1px solid #a0a0a0;
					padding-bottom:18px;
				}
				span{
					float: left;
					width:100%;
					text-align:left;
					line-height:24px;
					color:#a0a0a0;
					font-size:12px;
					margin-top:30px;
					i{
						color:#c84e4e;
					}
				}
				input{
					background:none;
					background:#eeeeee;
					width:100%;
					height:26px;
					border:none;
					border:1px solid #bdbdbd;
				}
				input[type="submit"]{
					float: left;
					background:none;
					border:none;
					width:104px;
					line-height:42px;
					background:#8f010f;
					color:#fff;
					margin-left:40%;
					margin-top:42px;
					padding-bottom:36px;
				}
				#err1{
					line-height:30px;
					font-size:12px;
					color:#8f141a;
				}
				em{
					display:block;
					font-style:normal;
					text-align:right;
					color:#a0a0a0;
					line-height:40px;
					font-size:12px;
					border-bottom:1px solid #ccc;
					img{
						margin-right:4px;
					}
				}
				margin-top:20px;
		}
		.login_right{
			margin-top:30px;
			float: left;
			width:44.6%;
			border-left:1px dashed #595959;
			padding-left:5%;
			h1{
				text-align:center;
				line-height:50px;
				color:#a0a0a0;
				font-size:24px;
			}
			p{
				text-align:center;
				line-height:30px;
				color:#a0a0a0;
				font-size:14px;
			}
			em{
				font-style:normal;
				text-align:center;
				line-height:30px;
				color:#a0a0a0;
				font-size:12px;
				width:100%;
				float: left;
			}
			span{
				float: left;
				width:100%;
				text-align:left;
				line-height:24px;
				color:#a0a0a0;
				font-size:12px;
				margin-top:30px;
				i{
					color:#c84e4e;
				}
			}
			.input_box{
				input{
					border-radius:50%;
					width:10px;
					height:10px;
					
					margin-right:14px;
				}
				i{
					line-height:34px;
					color:#a0a0a0;
					font-size:12px;
					font-style:normal;
				}
			}
			.span_01{
				span{
					float: left;
					width:80%;
					text-align:left;
					line-height:24px;
					color:#a0a0a0;
					font-size:12px;
					margin-top:30px;
					i{
						color:#c84e4e;
					}
				}
				input{
					background:none;
					background:#eeeeee;
					width:90%;
					height:26px;
					border:none;
					border:1px solid #bdbdbd;
				}
				#err2{
					line-height:30px;
					font-size:12px;
					color:#8f141a
				}
				#err3{
					line-height:30px;
					font-size:12px;
					color:#8f141a
				}
				#err6{
					line-height:30px;
					font-size:12px;
					color:#8f141a
				}
				#err7{
					line-height:30px;
					font-size:12px;
					color:#8f141a
				}

			}
			.span_02{
				span{
					float: left;
					width:80%;
					text-align:left;
					line-height:24px;
					color:#a0a0a0;
					font-size:12px;
					margin-top:30px;
					i{
						color:#c84e4e;
					}
				}
				input{
					background:none;
					background:#eeeeee;
					width:40%;
					height:26px;
					border:none;
					border:1px solid #bdbdbd;
				}
				#err4{
					line-height:30px;
					font-size:12px;
					color:#8f141a
				}
				#err5{
					line-height:30px;
					font-size:12px;
					color:#8f141a
				}
			}
			.span_03{
				span{
					float: left;
					width:80%;
					text-align:left;
					line-height:24px;
					color:#a0a0a0;
					font-size:12px;
					margin-top:30px;
					i{
						color:#c84e4e;
					}
				}
				input{
					background:none;
					background:#eeeeee;
					width:30%;
					height:26px;
					border:none;
					border:1px solid #bdbdbd;
					float: left;
				}
				.code{
					width:103px;
					height:24px;
					border:1px solid #c2c2c2;
					float: left;
					margin:0 20px;
					background:url(../../images/code_db.jpg);
					#verify-code{
						width:68px;
						line-height:26px;
						float: left;
						margin-top:-1px;
						color:#000;
						text-align:center;
					}
				}
				p{
					float: left;
					line-height:26px;
					color:#a0a0a0;
					font-size:12px;
				}
			}
			.login_p{
				margin-top:34px;
				width:100%;
				float: left;
				font-size:14px;
				line-height:19px;
				color:#6e6e6e;
			}
			.login_check{
				width:100%;
				float: left;
				margin-top:14px;
				.login_check_01{
					width:100%;
					float: left;
					input{
						width:30px;
						float: left;
						heihgt:30px;
						margin-top:10px;
					}
					p{
						float: left;
						font-size:12px;
					}
				}
				.login_check_02{
					width:100%;
					float: left;

					input{
						width:30px;
						float: left;
						heihgt:30px;
						margin-top:10px;
					}
					p{
						float: left;
						font-size:12px;
						a{
							color:#b8b7b7;
						}
						i{
							color:#c84e4e;
						}
					}
				}
			}
			.build_user{
				float: left;
				width:166px;
				height:34px;
				background:#8f010f;
				margin-top:30px;
				margin-bottom:30px;
				margin-left:30%;
				img{
					float: left;
					margin:14px 10px 0 30px;
				}
				p{
					line-height:34px;
					float: left;
					color:#fff;
					text-align:center;
				}
			}
		}
	}
}
@media only screen and (max-width: 970px){
	
	#login_content{
		.login_kuang{
			width:100%;
			border:none;
			.login_left{
				width:80%;
				margin:0 auto;
				border:1px solid #595959;
				margin-bottom:50px;
				padding-bottom:30px;
				input[type="submit"]{
					margin-left:40%;
				}
			}
			.login_right{
				width:85%;
				margin:0 auto;
				border-left:none;
				border:1px solid #595959;
				.build_user{
					margin-left:36%;
				}
			}
		}		
	}
	footer{
		#index_bottom_footer{
			display:block;
			margin:0 auto;
			width:60%;
		}
		#index_bottom{
			display:none;
		}
	}
	#footer_list_hover{
			display:block;
		}
	#footer_list{
		display:none;
	}
}
@media only screen and (max-width: 749px) {

	header{
		#header_right{
			.header_right_02{
				display: block;
			}
			.header_right_01{
				display: none;
			}
		}
		#header_left{
			display: none;
		}
		#header_img{
			img{
				display: block;
			}
		}
	}
	#index_nav{
		.index_nav_list{
			display:none;
		}
		.index_nav_hover{
			display:none;
		}
	}



	#login_content{
		.login_top{
			.content_top{
				display:none;
			}
			.content_top_01{
				display:block;
			}
		}
	}
}


